{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(19, 113, 235);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: rgb(221, 47, 221);">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Poornashree Prasanna </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Poornashree Prasanna. Currently Pursuing Bachelors in
                    Computer Science And 
                    Engineering.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Full Stack Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mail to:jppoorna70@gmail.com'><img
                        </a> 
                jppoorna70@gmail.com<br><br>
                <a target="_blank" href='Poornashree-Prasanna.medium.com'><img
                        </a> poornashree-prasanna <br><br>
                <a target="_blank" href='https://www.linkedin.com/in/poornashree-j-p-723079339'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> 
                poornashreeprasaanna<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Prasanna Kumar </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Prasanna Kumar. I am an entrepreneur, currently
                    co-founder at KrsikX India LLP which is an Agri-Tech Startup. Graduated in Bachelor of Science 
                    in Horticulture. My main focuses on the scientific cultivation and management of 
                    fruits,vegetables,flowers and ornamental plants.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mail to: jeprasannakumar71@gmail.com'><img
                        </a> 
                jeprasannakumar71@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/_prasanna._.kumar_/'><img
                        </a> 
                prasanna kumar<br><br>
                
            </div>
        </div>
    </div>
</div>

{% endblock body %}